In [1]:
import csv
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
df= pd.read_csv('data/transcription.csv')

In [3]:
df.head()

,Transcriber,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,NaN,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,...,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,6/6/1969
1,NaN,1,3,4,56,202-208,Hillard Ave.,Commercial,8/1/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,7/16/1971,21600,-,-,-,-,-,06/171971
2,NaN,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,4/4/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,8/17/1972,46000,-,-,-,-,-,7/13/1972
3,NaN,1,5,4,56,94,Asheland Ave.,Residential,4/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,5/29/1974
4,NaN,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/9/1974

In [4]:
copy=df
copy.head()

,Transcriber,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,NaN,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,...,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,6/6/1969
1,NaN,1,3,4,56,202-208,Hillard Ave.,Commercial,8/1/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,7/16/1971,21600,-,-,-,-,-,06/171971
2,NaN,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,4/4/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,8/17/1972,46000,-,-,-,-,-,7/13/1972
3,NaN,1,5,4,56,94,Asheland Ave.,Residential,4/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,5/29/1974
4,NaN,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/9/1974

In [5]:
copy.drop(['Transcriber'], axis=1, inplace=True)

In [6]:
copy.head()

,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir,...,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,6/6/1969
1,1,3,4,56,202-208,Hillard Ave.,Commercial,8/1/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,7/16/1971,21600,-,-,-,-,-,06/171971
2,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,4/4/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir,...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,8/17/1972,46000,-,-,-,-,-,7/13/1972
3,1,5,4,56,94,Asheland Ave.,Residential,4/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,5/29/1974
4,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/9/1974

In [7]:
copy=copy[copy['Block #'].str.contains("Spring")==False]

In [8]:
parcels=df[['Block #', 'Parcel #','Ward #','Land use']]

In [9]:
parcels=parcels[parcels['Block #'].str.contains("Spring")==False]

In [10]:
parcels=parcels[parcels['Block #'].str.contains("  ")==False]

In [11]:
parcels['Block #'].dtypes

dtype('O')

In [12]:
parcels.insert(0, 'Parcel_ID', range(0,0+len(parcels)))

In [13]:
parcels.head()

   Parcel_ID Block # Parcel # Ward #     Land use
0          0       1        2      4   Commercial
1          1       1        3      4   Commercial
2          2       1        4      4   Commercial
3          3       1        5      4  Residential
4          4       1        6      4   Commercial

In [14]:
parcels.to_csv('Parcels.csv')

In [14]:
parcels. shape

(542, 5)

In [15]:
parcel_id=parcels[['Parcel_ID']]

In [16]:
addresses= copy[['Street number', 'Street address']]

In [17]:
addresses=addresses.join(parcels[['Parcel_ID']])

In [18]:
addresses.head()

           Street number               Street address  Parcel_ID
0  198\n198 1/2\n198-200                 Hillard Ave.          0
1                202-208                 Hillard Ave.          1
2                90\n196  Asheland Ave.\nHillard Ave.          2
3                     94                Asheland Ave.          3
4                     98                Asheland Ave.          4

In [19]:
addresses.shape

(542, 3)

In [20]:
addresses.head()

           Street number               Street address  Parcel_ID
0  198\n198 1/2\n198-200                 Hillard Ave.          0
1                202-208                 Hillard Ave.          1
2                90\n196  Asheland Ave.\nHillard Ave.          2
3                     94                Asheland Ave.          3
4                     98                Asheland Ave.          4

In [23]:
test= splitRow(addresses)
test
##s = test[test['Street address'] == 'Hillard Ave.']
##x = addresses[addresses['Street address'] == 'Hillard Ave.']
##print(x)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

    Street number                            Street address Parcel_ID
0             198                              Hillard Ave.         0
1         198 1/2                              Hillard Ave.         0
2         198-200                              Hillard Ave.         0
3         202-208                              Hillard Ave.         1
4              90               Asheland Ave.\nHillard Ave.         2
5             196               Asheland Ave.\nHillard Ave.         2
6              94                             Asheland Ave.         3
7              98                             Asheland Ave.         4
8       110 - 112                             Asheland Ave.         5
9             114                             Asheland Ave.         6
10            122                             Asheland Ave.         7
11    Rear of 114                             Asheland Ave.         8
12        132 1/2                             Asheland Ave.         9
13            132                             Asheland Ave.        10
14            136                             Asheland Ave.        11
15            136                             Asheland Ave.        12
16              2                               Wallack St.        13
17              5                               Wallack St.        14
18              7                               Wallack St.        15
19              9                               Wallack St.        16
20             11                               Wallack St.        17
21             15                               Wallack St.        18
22             17                               Wallack St.        19
23             23                               Wallack St.        20
24             23                               Wallack St.        21
25             55                               Wallack St.        22
26         47 1/2                               Wallack St.        23
27             77                               Wallack St.        24
28             87                               Wallack St.        25
29     Rear of 87                               Wallack St.        26
..            ...                                       ...       ...
544             9                    Across from 9 Louie St       512
545           N/S  N/E Cor. Southern St. \nand Graham Place       513
546           N/S                           Southern Street       514
547            99                                  Asheland       515
548           105                                  Asheland       516
549            33                             Silver Street       517
550           NaN                      Near 176 S. Grove Rd       518
551       178 1/2                             S. Grove Road       519
552           493                    S. French Broad Avenue       520
553       494-496                              Depot Street       521
554           113                              Black Street       522
555           103                              Black Street       523
556         168.5                        South Grove Street       524
557           174            Rear of 174 South Grove Street       525
558           174            Rear of 174 South Grove Street       526
559           192                        South Grove Street       527
560           NaN                                       NaN       528
561           118                        South Grove Street       529
562           113                             Asheland Ave.       530
563           111                             Asheland Ave.       531
564           502                                 Depot St.       532
565            82                            Livingston St.       533
566           100                        South Grove Street       534
567            88                   South French Broad Ave.       535
568             7                                Silver St.       536
569             7                                Silver St.       537
570             7                                Silver St.       538
571             8                                DeWitt St.       539
572             8                                DeWitt St.       540
573             8                                DeWitt St.       541

[574 rows x 3 columns]

In [26]:
test.insert(0,'ID',range(0,0+len(test)))

ValueError: cannot insert ID, already exists

In [25]:
test.head()

   ID Street number               Street address Parcel_ID
0   0           198                 Hillard Ave.         0
1   1       198 1/2                 Hillard Ave.         0
2   2       198-200                 Hillard Ave.         0
3   3       202-208                 Hillard Ave.         1
4   4            90  Asheland Ave.\nHillard Ave.         2

In [32]:
test.to_csv('addresses.csv')

In [27]:
def splitRow(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Street number']):
            data = row['Street number'].split('\n')
            for d in data:
                newrow = row
                newrow['Street number'] = d
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [28]:
test.head()

   ID Street number               Street address Parcel_ID
0   0           198                 Hillard Ave.         0
1   1       198 1/2                 Hillard Ave.         0
2   2       198-200                 Hillard Ave.         0
3   3       202-208                 Hillard Ave.         1
4   4            90  Asheland Ave.\nHillard Ave.         2

In [29]:
people=copy[['Previous Transfer of deed People Involved','Decision People Involved']]

In [30]:
def splitRowTransfer(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Previous Transfer of deed People Involved']):
            data = row['Previous Transfer of deed People Involved'].split('\n')
            for d in data:
                newrow = row
                newrow['Previous Transfer of deed People Involved'] = d
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [31]:
transfer=splitRowTransfer(people)

In [32]:
transfer.drop('Decision People Involved', axis=1, inplace=True)

In [33]:
transfer['Previous Transfer of deed People Involved'].replace('', np.nan, inplace=True)

In [34]:
transfer.dropna(inplace=True)

In [35]:
transfer.head()

  Previous Transfer of deed People Involved
0                     Bessie S. Kalogerakis
2                     Amelia K. Kalogerakis
3                         Eva K. Cleraderas
4                         Steve Kalogerakis
5                             W.S. Harrison

In [36]:
people=copy[['Previous Transfer of deed People Involved','Decision People Involved']]

In [37]:
def splitRowDecisions(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Decision People Involved']):
            data = row['Decision People Involved'].split('\n')
            for d in data:
                newrow = row
                newrow['Decision People Involved'] = d
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [38]:
decisions= splitRowDecisions(people)

In [39]:
decisions.drop('Previous Transfer of deed People Involved', axis=1, inplace=True)

In [40]:
decisions['Decision People Involved'].replace('', np.nan, inplace=True)

In [41]:
decisions.dropna(inplace=True)

In [42]:
decisions.head()

         Decision People Involved
0           Amelia K. Kalogerakis
1               Eva K. Cleraderas
2               Steve Kalogerakis
4                            HACA
5  Charles R. Stinnette Co., Inc.

In [43]:
def combined(df1,df2):
    newdf=pd.DataFrame(columns=['People'])
    size=0
    for i in range(len(df1)):
        row=df1.iloc[i]
        data = row['Previous Transfer of deed People Involved']
        newdf.loc[size]=data
        size+=1
    for y in range(len(df2)):
        row=df2.iloc[y]
        data = row['Decision People Involved']
        newdf.loc[size]=data
        size+=1
    return newdf

In [44]:
allPeople=combined(transfer,decisions)

In [45]:
allPeople=allPeople.drop_duplicates(subset='People', keep="first")

In [46]:
allPeople.head()

                  People
0  Bessie S. Kalogerakis
1  Amelia K. Kalogerakis
2      Eva K. Cleraderas
3      Steve Kalogerakis
4          W.S. Harrison

In [47]:
allPeople.insert(0, 'Person_ID', range(0,0+len(allPeople)))

In [59]:
allPeople.to_csv('People.csv')

In [48]:
copy.head()

,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir,...,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,6/6/1969
1,1,3,4,56,202-208,Hillard Ave.,Commercial,8/1/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,7/16/1971,21600,-,-,-,-,-,06/171971
2,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,4/4/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir,...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,8/17/1972,46000,-,-,-,-,-,7/13/1972
3,1,5,4,56,94,Asheland Ave.,Residential,4/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,5/29/1974
4,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/9/1974

In [49]:
allPeople=allPeople.apply(lambda x: x.astype(str).str.lower())

In [50]:
allPeople.head()

  Person_ID                 People
0         0  bessie s. kalogerakis
1         1  amelia k. kalogerakis
2         2      eva k. cleraderas
3         3      steve kalogerakis
4         4          w.s. harrison

In [51]:
allPeople=allPeople.drop_duplicates(subset='People', keep="first")

In [52]:
allPeople.shape

(1787, 2)

In [53]:
allPeople.drop('Person_ID', axis=1, inplace=True)

In [54]:
allPeople.insert(0, 'Person_ID', range(0,0+len(allPeople)))

In [55]:
allPeople.head()

   Person_ID                 People
0          0  bessie s. kalogerakis
1          1  amelia k. kalogerakis
2          2      eva k. cleraderas
3          3      steve kalogerakis
4          4          w.s. harrison

In [68]:
allPeople.to_csv('People.csv')

In [56]:
event_assoc=copy[['Decision People Involved','Decision Role']]

In [57]:
event_assoc.head()

                            Decision People Involved           Decision Role
0  Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...    Owner\n\n\nPurchaser
1             Charles R. Stinnette Co., Inc.\n\nHACA      Owner\n\nPurchaser
2  William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...  Owner\n\n\n\nPurchaser
3  Thelma Smathers Johnson\nElizabeth Pauline Sma...    Owner\n\n\nPurchaser
4   Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n      Owner\n\nPurchaser

In [58]:
def splitRowEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Decision People Involved']):
            data = row['Decision People Involved'].split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            for d in range(len(data)):
                newrow = row
                newrow['Decision People Involved'] = data[d]
                if data[d]!='':
                    newrow['Decision Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [59]:
t=splitRowEvents(event_assoc)

In [60]:
t.head()

  Decision People Involved Decision Role
0    Amelia K. Kalogerakis         Owner
1        Eva K. Cleraderas         Owner
2        Steve Kalogerakis         Owner
3                                  Owner
4                     HACA     Purchaser

In [61]:
t['Decision People Involved'].replace('', np.nan, inplace=True)
t

                    Decision People Involved Decision Role
0                      Amelia K. Kalogerakis         Owner
1                          Eva K. Cleraderas         Owner
2                          Steve Kalogerakis         Owner
3                                        NaN         Owner
4                                       HACA     Purchaser
5             Charles R. Stinnette Co., Inc.         Owner
6                                        NaN         Owner
7                                       HACA     Purchaser
8                             William I. Lee         Owner
9                              Zyphin J. Lee         Owner
10                            H. Kenneth Lee         Owner
11                            Frances W. Lee         Owner
12                                       NaN         Owner
13                                      HACA     Purchaser
14                   Thelma Smathers Johnson         Owner
15                Elizabeth Pauline Smathers         Owner
16                                       NaN         Owner
17                                      HACA     Purchaser
18    Harry's Cadillac-Pontiac Company, Inc.         Owner
19                                       NaN         Owner
20                                      HACA     Purchaser
21                                       NaN     Purchaser
22                             Max E. Wilson         Owner
23                           Flora J. Wilson         Owner
24                             J. D. Medling         Owner
25                                       NaN         Owner
26                                      HACA     Purchaser
27               Grayson Huntzberger Fleming         Owner
28                      Peggy Evelyn Fleming         Owner
29                                       NaN         Owner
...                                      ...           ...
1817                           Max E. Wilson         Owner
1818                         Flora J. Wilson         Owner
1819                                     NaN         Owner
1820                                    HACA     Purchaser
1821                         Charles G. Buck         Owner
1822                         Nell P. Garrett         Owner
1823                                     NaN         Owner
1824                                    HACA     Purchaser
1825                            Fred Barnard         Owner
1826                         Roselyn Barnard         Owner
1827                                     NaN         Owner
1828                                    HACA     Purchaser
1829                                       -             -
1830                                     NaN           NaN
1831                                     NaN           NaN
1832                    Myrdirth Owen Howell         Owner
1833                                     NaN         Owner
1834                                    HACA     Purchaser
1835                    Myrdirth Owen Howell         Owner
1836                                     NaN         Owner
1837                                    HACA     Purchaser
1838                       Zipporah Nicholas         Owner
1839                                     NaN         Owner
1840                                    HACA     Purchaser
1841                       Zipporah Nicholas         Owner
1842                                     NaN         Owner
1843                                    HACA     Purchaser
1844                       Zipporah Nicholas         Owner
1845                                     NaN         Owner
1846                                    HACA     Purchaser

[1847 rows x 2 columns]

In [62]:
t.dropna(inplace=True)

In [63]:
t.columns = ["people","role"]

In [64]:
t.people=t.people.apply(lambda x: x.lower())

In [65]:
t

                                      people       role
0                      amelia k. kalogerakis      Owner
1                          eva k. cleraderas      Owner
2                          steve kalogerakis      Owner
4                                       haca  Purchaser
5             charles r. stinnette co., inc.      Owner
7                                       haca  Purchaser
8                             william i. lee      Owner
9                              zyphin j. lee      Owner
10                            h. kenneth lee      Owner
11                            frances w. lee      Owner
13                                      haca  Purchaser
14                   thelma smathers johnson      Owner
15                elizabeth pauline smathers      Owner
17                                      haca  Purchaser
18    harry's cadillac-pontiac company, inc.      Owner
20                                      haca  Purchaser
22                             max e. wilson      Owner
23                           flora j. wilson      Owner
24                             j. d. medling      Owner
26                                      haca  Purchaser
27               grayson huntzberger fleming      Owner
28                      peggy evelyn fleming      Owner
30                                      haca  Purchaser
31                       luther earl mccurry      Owner
32                         maxine s. mccurry      Owner
34                                      haca  Purchaser
35                         william j. reeves      Owner
36                         mildred p. reeves      Owner
38                                      haca  Purchaser
39                      millco, incorporated      Owner
...                                      ...        ...
1806                          perle t. cliff      Owner
1807                         horace a. cliff      Owner
1808                   lora lee morris cliff      Owner
1809                        charles j. cliff      Owner
1810                       betty young cliff      Owner
1811                     louise cliff cruise      Owner
1812                            r. r. cruise      Owner
1813                 ruth mary cliff helfand      Owner
1814                           w. t. helfand      Owner
1816                                    haca  Purchaser
1817                           max e. wilson      Owner
1818                         flora j. wilson      Owner
1820                                    haca  Purchaser
1821                         charles g. buck      Owner
1822                         nell p. garrett      Owner
1824                                    haca  Purchaser
1825                            fred barnard      Owner
1826                         roselyn barnard      Owner
1828                                    haca  Purchaser
1829                                       -          -
1832                    myrdirth owen howell      Owner
1834                                    haca  Purchaser
1835                    myrdirth owen howell      Owner
1837                                    haca  Purchaser
1838                       zipporah nicholas      Owner
1840                                    haca  Purchaser
1841                       zipporah nicholas      Owner
1843                                    haca  Purchaser
1844                       zipporah nicholas      Owner
1846                                    haca  Purchaser

[1298 rows x 2 columns]

In [66]:
t.merge(allPeople,how='left', left_on='people',right_on='People' )

,people,role,Person_ID,People
0,amelia k. kalogerakis,Owner,1,amelia k. kalogerakis
1,eva k. cleraderas,Owner,2,eva k. cleraderas
2,steve kalogerakis,Owner,3,steve kalogerakis
3,haca,Purchaser,1419,haca
4,"charles r. stinnette co., inc.",Owner,6,"charles r. stinnette co., inc."
5,haca,Purchaser,1419,haca
6,william i. lee,Owner,1420,william i. lee
7,zyphin j. lee,Owner,1421,zyphin j. lee
8,h. kenneth lee,Owner,272,h. kenneth lee
9,frances w. lee,Owner,1422,frances w. lee
10,haca,Purchaser,1419,haca
11,thelma smathers johnson,Owner,12,thelma smathers johnson
12,elizabeth pauline smathers,Owner,1423,elizabeth pauline smathers
13,haca,Purchaser,1419,haca
14,"harry's cadillac-pontiac company, inc.",Owner,15,"harry's cadillac-pontiac company, inc."
15,haca,Purchaser,1419,haca
16,max e. wilson,Owner,20,max e. wilson
17,flora j. wilson,Owner,21,flora j. wilson
18,j. d. medling,Owner,18,j. d. medling
19,haca,Purchaser,1419,haca
20,grayson huntzberger fleming,Owner,22,grayson huntzberger fleming
21,peggy evelyn fleming,Owner,23,peggy evelyn fleming
22,haca,Purchaser,1419,haca
23,luther earl mccurry,Owner,35,luther earl mccurry
24,maxine s. mccurry,Owner,36,maxine s. mccurry
25,haca,Purchaser,1419,haca
26,william j. reeves,Owner,37,william j. reeves
27,mildred p. reeves,Owner,38,mildred p. reeves
28,haca,Purchaser,1419,haca
29,"millco, incorporated",Owner,40,"millco, incorporated"
...,...,...,...,...
1268,perle t. cliff,Owner,1774,perle t. cliff
1269,horace a. cliff,Owner,1775,horace a. cliff
1270,lora lee morris cliff,Owner,1776,lora lee morris cliff
1271,charles j. cliff,Owner,1777,charles j. cliff
1272,betty young cliff,Owner,1778,betty young cliff
1273,louise cliff cruise,Owner,1779,louise cliff cruise
1274,r. r. cruise,Owner,1780,r. r. cruise
1275,ruth mary cliff helfand,Owner,1781,ruth mary cliff helfand
1276,w. t. helfand,Owner,1782,w. t. helfand
1277,haca,Purchaser,1419,haca
1278,max e. wilson,Owner,20,max e. wilson
1279,flora j. wilson,Owner,21,flora j. wilson
1280,haca,Purchaser,1419,haca
1281,charles g. buck,Owner,702,charles g. buck
1282,nell p. garrett,Owner,703,nell p. garrett
1283,haca,Purchaser,1419,haca
1284,fred barnard,Owner,1783,fred barnard
1285,roselyn barnard,Owner,1784,roselyn barnard
1286,haca,Purchaser,1419,haca
1287,-,-,125,-
1288,myrdirth owen howell,Owner,1785,myrdirth owen howell
1289,haca,Purchaser,1419,haca
1290,myrdirth owen howell,Owner,1785,myrdirth owen howell
1291,haca,Purchaser,1419,haca
1292,zipporah nicholas,Owner,1786,zipporah nicholas
1293,haca,Purchaser,1419,haca
1294,zipporah nicholas,Owner,1786,zipporah nicholas
1295,haca,Purchaser,1419,haca
1296,zipporah nicholas,Owner,1786,zipporah nicholas
1297,haca,Purchaser,1419,haca

In [67]:
allPeople.insert(0, 'Event_ID', range(0,0+len(allPeople)))

In [68]:
t.to_csv('Event_People_Association.csv')

In [69]:
allPeople.head()

   Event_ID  Person_ID                 People
0         0          0  bessie s. kalogerakis
1         1          1  amelia k. kalogerakis
2         2          2      eva k. cleraderas
3         3          3      steve kalogerakis
4         4          4          w.s. harrison

In [70]:
t.head()

                           people       role
0           amelia k. kalogerakis      Owner
1               eva k. cleraderas      Owner
2               steve kalogerakis      Owner
4                            haca  Purchaser
5  charles r. stinnette co., inc.      Owner

In [71]:
types=['Previous Transfer of Deed','Final Transfer of Deed','Appraisal','Offer Made', 'Decision', 'Award','Tenant','End of Case']

In [72]:
event_types=pd.DataFrame({'Type':types})

In [73]:
event_types.head()

                        Type
0  Previous Transfer of Deed
1     Final Transfer of Deed
2                  Appraisal
3                 Offer Made
4                   Decision

In [74]:
event_types.insert(0, 'ID', range(0,0+len(event_types)))

In [75]:
event_types.to_csv('Event_Types.csv')

In [76]:
copy.head()

,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir,...,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,6/6/1969
1,1,3,4,56,202-208,Hillard Ave.,Commercial,8/1/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,7/16/1971,21600,-,-,-,-,-,06/171971
2,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,4/4/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir,...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,8/17/1972,46000,-,-,-,-,-,7/13/1972
3,1,5,4,56,94,Asheland Ave.,Residential,4/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,5/29/1974
4,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/9/1974

In [77]:
previous_events=copy[['Parcel #','Previous Transfer of deed Event Date','Previous Transfer of deed People Involved','Previous Transfer of deed Role']]

In [78]:
previous_events

,Parcel #,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role
0,2,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir
1,3,8/1/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser
2,4,4/4/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir
3,5,4/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir
4,6,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser
5,7,4/3/1964,Z. K. Morgan\nShirley P. Morgan\nJ. D. Medling...,Owner\n\n\n\n\nPurchaser
6,8,8/22/1958,Z. K. Morgan\nShirley P. Morgan\nJ. D. Medling...,Owner\n\n\n\n\nPurchaser
7,9,1/6/1955,K. F. Wentz\nTennie D. Clark\nHerman Clark\nMa...,Owner\n\n\n\n\n\n\n\n\n\n\n\n\nPurchaser
8,10,5/10/1960,Z. K. Morgan\nShirley P. Morgan\nJ. D. Medling...,Owner\n\n\n\n\n\nPurchaser
9,11,12/31/1968,"The Miller Printing Co. \n\nMillco, Incorporated",Owner\n\nPurchaser
10,12,05/12/1921\n\n07/11/1959,S.B Patterson\n\nHayward Powers\nJane Moore Po...,Owner\n\nOwner\n\n\nPurchaser
11,13,8/21/1961,Hayward Powers\nJane Moore Powers\n\nCharles M...,Owner\n\n\n\nPurchaser
12,13A,8/22/1961,Hayward Powers\nJane Moore Powers\n\nCharles M...,Owner\n\n\n\nPurchaser
13,14,1/6/1967,William P. Shuford\n\nJohn F. Shuford\nWachovi...,Owner\n\nHeir\nTrustees
14,15,11/7/1961,Dora Kilpatrick\nW.B. Kilpatrick\n\nRudolph Gay,Owner\n\nPurchaser
15,16,10/26/1951,Cora J. Shuford\n\nMary McCorkle,Owner\n\nPurchaser
16,17,5/11/1956,Guy Weaver\n\nAda J. Barnard,Owner\n\nPurchaser
17,18,1/11/1955,S.M. White\n\nHerman Fleming\nLaura Fleming,Owner\n\nPurchaser
18,19,11/1/1966,W.R. Clements\nMary S. Clements\n\nGenuine Par...,Owner\n\nPurchaser
19,20,12/3/1967,Hugh A. Messer\n\nMildred L. Messer,Owner\n\nPurchaser
20,21,12/20/1966,T. Carlisle Smith\n\nHilda B. Smith\nFirst Uni...,Owner\n\nHeir\nTrustees
21,22,10/26/1949,W.P. Shuford\n\nEarnst Cannon\nParrylee Cannon,Owner\n\n\nPurchaser
22,24,08/15/1914\n\n06/13/1915,Thomas R. Tweed\n\nH.B. Ray\n\nJoseph Dodd\nGe...,Owner\n\n\nPurchaser
23,25,12/5/1938,R.E. Shuford\nMary Emma Shuford\n\nCora J. Shu...,Owner\n\n\nHeir
24,27,5/31/1949,Jessie Pasley\n\nWillie Watson\nMamie Watson,Owner\n\nPurchaser
25,28,5/15/1899\n\n1/15/40,S. Hirsh\nAmelia Hirsh\n\nH. E. Thompson\n----...,Trustee\n\nPurchaser
26,29,11/14/21\n------------\n12/6/21,Mary Davis\n\nF. M. Stevens\n-----------------...,Owner\n\nPurchaser\n-------------\nOwner\n\nPu...
27,30,6/14/1909,Robert b. Glenn\nJoanna Glenn\n\nLeah Clark,Owner\n\nPurchaser
28,31,11/27/1946,Warren J. Clark\n\nMazie Williams,Owner\n\nPurchaser
29,32,8/3/1950,John Powers\nMaggie Powers\nPauline Johnson\nB...,Heirs\n\nPurchaser
...,...,...,...,...
525,2,5/22/1959,F.H. Harris and Jean Wesver Harris\n\nF.H. Har...,Owner \n\nPurchaser
526,18,8/5/1907,Jacob Gilbert\nBetsy Gilbert\n\nW.E. Logan,Owner\n\n\nPurchaser
527,19,08/__/1927,Harry L. Nettles\nMargaret G. Nettles\n\nSouth...,Owner\n\n\nPurchaser
528,24,02/03/1962\n02/21/1962,Cordell Y. Jenkins\nMargaret M. Marjorie S. Je...,Owner\nPurchaser
529,23,3/8/1950,Clara Josephine Lee\nWilliam N. Lee\nWilla Mae...,Owner\n\n\n\nPurchaser
530,16,7/27/1944,Louis Gallego\nAgnes Gallego\n\n\nRoy Booker \...,Owner\n\n\n\n\nPurchaser
531,13,12/10/1959,Barney Brown\n\n\nElizabeth Whitson,Owner\n\n\nPurchaser
532,12,8/9/1939,Home Owner's Loan Corp Of Washington D.C. \n\n...,Owner \n\nPurchaser
533,15B,5/2/1955,R.D Burgin\n\nIra I. Angel\nLessie K. Angel,Owner\n\nPurchaser
534,8,5/4/1937,Marie G. Wehry\n\nArthur A. York and Virginia ...,Owner\n\nPurchaser
535,40,12/13/1954,Claudia Jenkins\n\nHenry Maddox\nManor Lee Maddox,Owner\n\nHeir
536,41,2/17/1916,J. O. Whitted\nGertrude Whitted\n\nFire Baptis...,Owner\n\n\nPurchaser
537,6,5/20/1941,Christine Ray\n\nW. M. Stowers\nNena Stowers,Owner\n\nPurchaser
538,9,8/31/1956,Bismark Williams Jr.\nCoretta Williams\n\nBird...,Owner\n\n\nPurchaser
539,10,9/5/1945,Anna Shuford Moore\nMeredith Moore\n\nJosh Col...,Owner\n\n\n\nPurchaser
540,11,12/3/1954,Stanton Golden\nBetty P. Golden\n\nErvin Gardn...,Owner\n\n\nPurchaser
541,6,1/4/1966,"W. T. Duckworth, Jr., Homer W. Brooks\nThomas ...",Owner\n\n\n\n\nPurchaser
542,9,2/7/1964,Mamie Machen\n\nJames Edward King,Owner\n\nPurchaser
543,21,12/13/1954,H.G. Cliff\n\nJulia Cliff Morris\nLouise Cliff...,Owner\n\nHeirs
544,22,1/19/1965,First Union National Bank\nD. B. McKenzie\n\nJ...,Trustee\n\nOwner?\n\nPurchaser
545,9,11/22/1960,H. E. Garrett\n\nCharles G. Buck\nNell P. Garrett,Owner\n\nTrustee
546,1,3/5/1965,Estelle B. Smith\n\nFred Barnette,Owner\n\nPurchaser
547,5,9/25/1959,Marguerita W. Thompson\n\nW.T. Conley\nMary Lo...,Owner \n\nPurchaser
549,8,8/25/1945,E Zaph Ray\nMary Carr\n\nAugust J Erickson\nMa...,Owner\n\npurchaser
550,21,12/13/1960,Claude Marion Creasman\n\nMyrdirth Owen,owner\n\npurchaser
551,21,12/13/1960,Claude Marion Creasman\n\nMyrdirth Owen,owner\n\npurchaser
552,21,12/13/1960,Claude Marion Creasman\n\nMyrdirth Owen,Owner \n\nPurchaser
553,38,11/13/1962,Sandra Olivia Nicholas\n\nZipporah L. Nicholas,Owner\n\nPurchaser
554,38,11/14/1962,Sandra Olivia Nicholas\n\nZipporah L. Nicholas,Owner\n\nPurchaser
555,38,11/14/1962,Sandra Olivia Nicholas\n\nZipporah L. Nicholas,Owner \n\nPurchaser

In [79]:
def splitRowPreviousEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Previous Transfer of deed Event Date']
        parcel=row['Parcel #']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Previous Transfer of deed People Involved']):
            data = row['Previous Transfer of deed People Involved'].split('\n')
            roles=str(row['Previous Transfer of deed Role']).split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            if('Heir' in roles):
                norm2='Heir'
            for d in range(len(data)):
                newrow = row
                newrow['Previous Transfer of deed People Involved'] = data[d]
                newrow['Previous Transfer of deed Event Date']= date
                newrow['Parcel #']=parcel
                if data[d]!='':
                    newrow['Previous Transfer of deed Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [80]:
prev_events=splitRowPreviousEvents(previous_events)

In [81]:
prev_events['Previous Transfer of deed People Involved'].replace('', np.nan, inplace=True)

In [82]:
prev_events=prev_events.dropna()

In [83]:
prev_events.insert(0, 'Event_Type', 0)

In [84]:
prev_events

,Event_Type,Parcel #,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role
0,0,2,-,Bessie S. Kalogerakis,Owner
2,0,2,-,Amelia K. Kalogerakis,Heir
3,0,2,-,Eva K. Cleraderas,Heir
4,0,2,-,Steve Kalogerakis,Heir
5,0,3,8/1/1967,W.S. Harrison,Owner
6,0,3,8/1/1967,Beulah L. Harrison,Owner
8,0,3,8/1/1967,"Charles R. Stinnette Co., Inc.",Purchaser
9,0,4,4/4/1940,"Charles G. Lee, Sr.",Owner
11,0,4,4/4/1940,"Charles G. Lee, Jr.",Heir
12,0,4,4/4/1940,H. Keneth Lee,Heir
13,0,5,4/28/1934,John E. Smathers,Owner
14,0,5,4/28/1934,Etta C. Smathers,Owner
16,0,5,4/28/1934,Thelma Smathers Johnson,Heir
17,0,6,12/24/1964,C.A. Yarbrough,Owner
18,0,6,12/24/1964,Sarah M Yarbrough,Owner
20,0,6,12/24/1964,"Harry's Cadillac-Pontiac Company, Inc.",Purchaser
21,0,7,4/3/1964,Z. K. Morgan,Owner
22,0,7,4/3/1964,Shirley P. Morgan,Owner
23,0,7,4/3/1964,J. D. Medling,Owner
24,0,7,4/3/1964,Leila P. Medling,Owner
26,0,7,4/3/1964,Max E. Wilson,Purchaser
27,0,7,4/3/1964,Flora J. Wilson,Purchaser
28,0,8,8/22/1958,Z. K. Morgan,Owner
29,0,8,8/22/1958,Shirley P. Morgan,Owner
30,0,8,8/22/1958,J. D. Medling,Owner
31,0,8,8/22/1958,Leila P. Medling,Owner
33,0,8,8/22/1958,Grayson Huntzberger Fleming,Purchaser
34,0,8,8/22/1958,Peggy Evelyn Fleming,Purchaser
35,0,9,1/6/1955,K. F. Wentz,Owner
36,0,9,1/6/1955,Tennie D. Clark,Owner
...,...,...,...,...,...
2290,0,21,12/13/1954,Louise Cliff Crews,Purchaser
2291,0,22,1/19/1965,First Union National Bank,Owner
2292,0,22,1/19/1965,D. B. McKenzie,Owner
2294,0,22,1/19/1965,"J.G. Stike-leather, Jr.",Purchaser
2295,0,22,1/19/1965,Dorothy Stike-leather,Purchaser
2297,0,22,1/19/1965,Max E. Wilson,Owner
2298,0,9,11/22/1960,H. E. Garrett,Owner
2300,0,9,11/22/1960,Charles G. Buck,Purchaser
2301,0,9,11/22/1960,Nell P. Garrett,Purchaser
2302,0,1,3/5/1965,Estelle B. Smith,Owner
2304,0,1,3/5/1965,Fred Barnette,Purchaser
2305,0,5,9/25/1959,Marguerita W. Thompson,Owner
2307,0,5,9/25/1959,W.T. Conley,Purchaser
2308,0,5,9/25/1959,Mary Lou Conley,Purchaser
2309,0,8,8/25/1945,E Zaph Ray,Owner
2310,0,8,8/25/1945,Mary Carr,Owner
2312,0,8,8/25/1945,August J Erickson,Purchaser
2313,0,8,8/25/1945,Mary L Erickson,Purchaser
2314,0,21,12/13/1960,Claude Marion Creasman,Owner
2316,0,21,12/13/1960,Myrdirth Owen,Purchaser
2317,0,21,12/13/1960,Claude Marion Creasman,Owner
2319,0,21,12/13/1960,Myrdirth Owen,Purchaser
2320,0,21,12/13/1960,Claude Marion Creasman,Owner
2322,0,21,12/13/1960,Myrdirth Owen,Purchaser
2323,0,38,11/13/1962,Sandra Olivia Nicholas,Owner
2325,0,38,11/13/1962,Zipporah L. Nicholas,Purchaser
2326,0,38,11/14/1962,Sandra Olivia Nicholas,Owner
2328,0,38,11/14/1962,Zipporah L. Nicholas,Purchaser
2329,0,38,11/14/1962,Sandra Olivia Nicholas,Owner
2331,0,38,11/14/1962,Zipporah L. Nicholas,Purchaser

In [85]:
final_events=copy[['Parcel #','Final Transfer of Deed Event Date','Final Transfer of Deed Amount Money','Final Transfer of Deed People Involved','Final Transfer of Deed Role']]

In [86]:
final_events.head()

,Parcel #,Final Transfer of Deed Event Date,Final Transfer of Deed Amount Money,Final Transfer of Deed People Involved,Final Transfer of Deed Role
0,2,6/6/1969,8500,Eva K. Cledaras\nGeorge M. Cledaras\nSteve Kal...,Owner\n\n\n\n\n\n\n\nPurchaser
1,3,6/17/1971,21600,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser
2,4,7/13/1972,46000,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser
3,5,5/29/1974,8000,Thelma Smathers Johnson\n\nHACA,Owner\n\nPurchaser
4,6,10/9/1974,40000,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser

In [87]:
def splitRowFinalEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Final Transfer of Deed Event Date']
        money=row['Final Transfer of Deed Amount Money']
        parcel=row['Parcel #']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Final Transfer of Deed People Involved']):
            data = row['Final Transfer of Deed People Involved'].split('\n')
            roles=str(row['Final Transfer of Deed Role']).split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            if('Heir' in roles):
                norm='Heir'
                norm_prev='Heir'
            for d in range(len(data)):
                newrow = row
                newrow['Final Transfer of Deed People Involved'] = data[d]
                newrow['Final Transfer of Deed Event Date']= date
                newrow['Final Transfer of Deed Amount Money']=money
                newrow['Parcel #']=parcel
                if data[d]!='':
                    newrow['Final Transfer of Deed Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [88]:
final_events=splitRowFinalEvents(final_events)

In [89]:
final_events['Final Transfer of Deed People Involved'].replace('', np.nan, inplace=True)

In [90]:
final_events=final_events.dropna()

In [91]:
final_events.insert(0, 'Event_Type', 1)

In [92]:
final_events

,Event_Type,Parcel #,Final Transfer of Deed Event Date,Final Transfer of Deed Amount Money,Final Transfer of Deed People Involved,Final Transfer of Deed Role
0,1,2,6/6/1969,8500,Eva K. Cledaras,Owner
1,1,2,6/6/1969,8500,George M. Cledaras,Owner
2,1,2,6/6/1969,8500,Steve Kalogerakis,Owner
3,1,2,6/6/1969,8500,Shirley Kalogerakis,Owner
4,1,2,6/6/1969,8500,Amelia K. Candler,Owner
5,1,2,6/6/1969,8500,James E. Candler,Owner
6,1,2,6/6/1969,8500,Executrix of the Est. of Bessie Kalogerakis,Owner
8,1,2,6/6/1969,8500,HACA,Purchaser
9,1,3,6/17/1971,21600,"Charles R. Stinnette Co., Inc.",Owner
11,1,3,6/17/1971,21600,HACA,Purchaser
12,1,4,7/13/1972,46000,Willian I. Lee,Owner
13,1,4,7/13/1972,46000,Zyphin J. Lee,Owner
14,1,4,7/13/1972,46000,H. Kenneth Lee,Owner
15,1,4,7/13/1972,46000,Frances W. Lee,Owner
17,1,4,7/13/1972,46000,HACA,Purchaser
18,1,5,5/29/1974,8000,Thelma Smathers Johnson,Owner
20,1,5,5/29/1974,8000,HACA,Purchaser
21,1,6,10/9/1974,40000,"Harry's Cadillac-Pontiac Company, Inc.",Owner
23,1,6,10/9/1974,40000,HACA,Purchaser
25,1,7,4/12/1976,60000,Max E. Wilson,Owner
26,1,7,4/12/1976,60000,Flora J. Wilson,Owner
27,1,7,4/12/1976,60000,J. D. Medling,Owner
29,1,7,4/12/1976,60000,HACA,Purchaser
30,1,8,12/9/1969,10500,Grayson Huntzberger Fleming,Owner
31,1,8,12/9/1969,10500,Peggy Evelyn Fleming,Owner
33,1,8,12/9/1969,10500,HACA,Purchaser
34,1,9,9/26/1969,8300,Luther Earl McCurry,Owner
35,1,9,9/26/1969,8300,Maxine S. McCurry,Owner
37,1,9,9/26/1969,8300,HACA,Purchaser
38,1,10,3/30/1976,35000,William J. Reeves,Owner
...,...,...,...,...,...,...
1940,1,21,7/8/1969,8500,HACA,Purchaser
1941,1,22,4/12/1976,11300,Max E. Wilson,Owner
1942,1,22,4/12/1976,11300,Flora J. Wilson,Owner
1944,1,22,4/12/1976,11300,HACA,Purchaser
1945,1,9,6/19/1969,5000,Charles G. Buck,Owner
1946,1,9,6/19/1969,5000,Nell P. Garrett,Owner
1948,1,9,6/19/1969,5000,HACA,Purchaser
1949,1,1,5/8/1970,5000,Fred Barnard,Owner
1950,1,1,5/8/1970,5000,Roselyn Barnard,Owner
1952,1,1,5/8/1970,5000,HACA,Purchaser
1953,1,5,6/7/1976,9000,Jessie Williams,Owner
1954,1,5,6/7/1976,9000,Romaine Williams,Owner
1956,1,5,6/7/1976,9000,HACA,Purchaser
1957,1,8,7/17/1969,4650,Mary Lewis Erickson,Owner
1958,1,8,7/17/1969,4650,Redevelopment Commission of the City of Ashville,Owner
1959,1,21,11/21/1972,4650,Myrdirth Owen Howell,Owner
1960,1,21,11/21/1972,4650,Robert Howell,Owner
1962,1,21,11/21/1972,4650,HACA,Purchaser
1963,1,21,11/21/1972,4800,Myrdirth Owen Howell,Owner
1964,1,21,11/21/1972,4800,Robert Howell,Owner
1966,1,21,11/21/1972,4800,HACA,Purchaser
1967,1,21,11/21/1972,4800,Myrdirth Owen Howell,Owner
1968,1,21,11/21/1972,4800,Robert Howell,Owner
1970,1,21,11/21/1972,4800,HACA,Purchaser
1971,1,38,6/7/1976,17150,Zipporah Nicholas,Owner
1973,1,38,6/7/1976,17150,HACA,Purchaser
1974,1,38,6/18/1976,17150,Zipporah Nicholas,Owner
1976,1,38,6/18/1976,17150,HACA,Purchaser
1977,1,38,6/18/1976,17150,Zipporah Nicholas,Owner
1979,1,38,6/18/1976,17150,HACA,Purchaser

In [93]:
appraisel=copy[['Parcel #','Appraiser Name','Appraiser Event Date','Appraiser Amount Money']]

In [94]:
appraisel.head()

,Parcel #,Appraiser Name,Appraiser Event Date,Appraiser Amount Money
0,2,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/31/1968\n11/09/1968,6250\n7000\n9300
1,3,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/12/1968\n11/02/1968,16400\n15000\n14000
2,4,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/15/1968\n11/02/1968,27000\n35000\n35500
3,5,Clyde G. Idol Jr.\nAlan Butterworth\nH.E. Johnson,09/15/1965\n07/16/1968\n10/22/1968,7250\n8000\n6600
4,6,Edward Sale\nR. Moore\nH.E. Johnson,04/14/1974\n08/09/1974\n03/04/1974,43706\n40000\n38500

In [95]:
def splitRowAppraise(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        parcel=row['Parcel #']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Appraiser Name']):
            data = row['Appraiser Name'].split('\n')
            dates=str(row['Appraiser Event Date']).split('\n')
            money=str(row['Appraiser Amount Money']).split('\n')
            for d in range(len(data)):
                newrow = row
                newrow['Appraiser Name'] = data[d]
                newrow['Appraiser Event Date']= dates[d]
                newrow['Appraiser Amount Money']=money[d]
                newrow['Parcel #']= parcel                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [96]:
splitRowAppraise(appraisel)

IndexError: list index out of range

In [97]:
offerMade=copy[['Parcel #','Offer Made Amount Money','Offer Made People Involved','Offer Made Event Date','Offer Made Role']]

In [98]:
offerMade.head()

,Parcel #,Offer Made Amount Money,Offer Made People Involved,Offer Made Event Date,Offer Made Role
0,2,8500,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,3/14/1969,Owner\n\n\nPurchaser
1,3,15000,"Charles R. Stinnette Co., Inc.\n\nHACA",8/6/1969,Owner\n\nPurchaser
2,4,35500,Willian I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,6/17/1970,Owner\n\n\n\nPurchaser
3,5,8000,Thelma Smathers Johnson\nElizabeth Pauline Sma...,11/17/1969\n05/07/1974,Owner\n\n\nPurchaser
4,6,40000,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",8/16/1974,Owner\n\nPurchaser

In [99]:
def splitRowOfferMade(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Offer Made Event Date']
        parcel=row['Parcel #']
        money=row['Offer Made Amount Money']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Offer Made People Involved']):
            data = row['Offer Made People Involved'].split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            for d in range(len(data)):
                newrow = row
                newrow['Offer Made People Involved'] = data[d]
                newrow['Offer Made Event Date']= date
                newrow['Parcel #']=parcel
                newrow['Offer Made Amount Money']=money
                if data[d]!='':
                    newrow['Offer Made Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [100]:
offerMade=splitRowOfferMade(offerMade)
##there is an extra newline at the begining that messes up the first row

In [101]:
offerMade['Offer Made People Involved'].replace('', np.nan, inplace=True)

In [102]:
offerMade=offerMade.dropna()

In [103]:
offerMade.insert(0, 'Event_Type', 3)

In [104]:
offerMade.head()

,Event_Type,Parcel #,Offer Made Amount Money,Offer Made People Involved,Offer Made Event Date,Offer Made Role
0,3,2,8500,Amelia K. Kalogerakis,3/14/1969,Owner
1,3,2,8500,Eva K. Cleraderas,3/14/1969,Owner
2,3,2,8500,Steve Kalogerakis,3/14/1969,Owner
4,3,2,8500,HACA,3/14/1969,Purchaser
5,3,3,15000,"Charles R. Stinnette Co., Inc.",8/6/1969,Owner

In [105]:
decision=copy[['Parcel #','Decision Event Date','Decision Amount Money','Decision Response','Decision People Involved','Decision Role']]

In [106]:
decision.head()

,Parcel #,Decision Event Date,Decision Amount Money,Decision Response,Decision People Involved,Decision Role
0,2,3/14/1969,8500,Accepted,Amelia K. Kalogerakis\nEva K. Cleraderas\nStev...,Owner\n\n\nPurchaser
1,3,8/6/1969,15000,Rejected,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser
2,4,6/17/1970,35500,Rejected,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser
3,5,5/8/1974,8000,Accepted,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser
4,6,9/23/1974,40000,Accepted,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser

In [107]:
def splitRowDecision(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    ##Goes through length of table
    for i in range(len(table)):
        ##Saves current row
        row = table.iloc[i]
        date=row['Decision Event Date']
        parcel=row['Parcel #']
        money=row['Decision Amount Money']
        response=row['Decision Response']
        ##Checks if there are any new line characters in the current row
        if '\n' in str(row['Decision People Involved']):
            data = row['Decision People Involved'].split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            for d in range(len(data)):
                newrow = row
                newrow['Decision People Involved'] = data[d]
                newrow['Decision Event Date']= date
                newrow['Parcel #']=parcel
                newrow['Decision Amount Money']=money
                newrow['Decision Response']=response
                if data[d]!='':
                    newrow['Decision Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [108]:
decision=splitRowDecision(decision)

In [109]:
decision['Decision People Involved'].replace('', np.nan, inplace=True)

In [110]:
decision=decision.dropna()

In [111]:
decision.head()

,Parcel #,Decision Event Date,Decision Amount Money,Decision Response,Decision People Involved,Decision Role
0,2,3/14/1969,8500,Accepted,Amelia K. Kalogerakis,Owner
1,2,3/14/1969,8500,Accepted,Eva K. Cleraderas,Owner
2,2,3/14/1969,8500,Accepted,Steve Kalogerakis,Owner
4,2,3/14/1969,8500,Accepted,HACA,Purchaser
5,3,8/6/1969,15000,Rejected,"Charles R. Stinnette Co., Inc.",Owner

In [112]:
decision.insert(0,'Event_Type',4)

In [113]:
award=copy[['Parcel #','Award Date','Award Amount Money']]

In [114]:
award.head()

  Parcel # Award Date Award Amount Money
0        2          -                  -
1        3  7/16/1971              21600
2        4  8/17/1972              46000
3        5          -                  -
4        6          -                  -

In [115]:
award.insert(0,'Event_Type',5)

In [116]:
award.head()

   Event_Type Parcel # Award Date Award Amount Money
0           5        2          -                  -
1           5        3  7/16/1971              21600
2           5        4  8/17/1972              46000
3           5        5          -                  -
4           5        6          -                  -

In [117]:
copy.columns.values

array(['Block #', 'Parcel #', 'Ward #', 'Box #', 'Street number',
       'Street address', 'Land use',
       'Previous Transfer of deed Event Date',
       'Previous Transfer of deed People Involved',
       'Previous Transfer of deed Role',
       'Final Transfer of Deed Event Date',
       'Final Transfer of Deed Amount Money',
       'Final Transfer of Deed People Involved',
       'Final Transfer of Deed Role', 'Appraiser Name',
       'Appraiser Event Date', 'Appraiser Amount Money',
       'Offer Made Event Date', 'Offer Made Amount Money',
       'Offer Made People Involved', 'Offer Made Role',
       'Decision Event Date', 'Decision Amount Money', 'Decision Response',
       'Decision People Involved', 'Decision Role', 'Award Date',
       'Award Amount Money', 'Tenant Vacated Date',
       'Tenant Agreement Date', 'Tenant Cost', 'Tenant Name',
       'Previous owner\nor\nTenant', 'End of Case Finalized Date'], dtype=object)

In [118]:
tenant=copy[['Parcel #','Tenant Vacated Date','Tenant Agreement Date','Tenant Cost','Tenant Name','Previous owner\nor\nTenant']]

In [119]:
tenant.head()

,Parcel #,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant
0,2,-,-,-,-,-
1,3,-,-,-,-,-
2,4,-,-,-,-,-
3,5,-,-,-,-,-
4,6,-,-,-,-,-

In [120]:
tenant.insert(0,'Event_Type',6)

In [121]:
tenant.head()

,Event_Type,Parcel #,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant
0,6,2,-,-,-,-,-
1,6,3,-,-,-,-,-
2,6,4,-,-,-,-,-
3,6,5,-,-,-,-,-
4,6,6,-,-,-,-,-

In [122]:
endCase=copy[['Parcel #','End of Case Finalized Date']]

In [123]:
endCase.head()

  Parcel # End of Case Finalized Date
0        2                   6/6/1969
1        3                  06/171971
2        4                  7/13/1972
3        5                  5/29/1974
4        6                  10/9/1974

In [124]:
endCase.insert(0,'Event_Type',7)

In [125]:
endCase.head()

   Event_Type Parcel # End of Case Finalized Date
0           7        2                   6/6/1969
1           7        3                  06/171971
2           7        4                  7/13/1972
3           7        5                  5/29/1974
4           7        6                  10/9/1974