In [1]:
import csv
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
df= pd.read_csv('data/transcription.csv')

In [3]:
df.head()

,Transcriber,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,NaN,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,06/06/1969
1,NaN,1,3,4,56,202-208,Hillard Ave.,Commercial,08/01/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,07/16/1971,21600,-,-,-,-,-,06/171971
2,NaN,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,04/04/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,08/17/1972,46000,-,-,-,-,-,07/13/1972
3,NaN,1,5,4,56,94,Asheland Ave.,Residential,04/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,05/29/1974
4,NaN,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/09/1974

In [4]:
copy=df
copy.head()

,Transcriber,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,NaN,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,06/06/1969
1,NaN,1,3,4,56,202-208,Hillard Ave.,Commercial,08/01/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,07/16/1971,21600,-,-,-,-,-,06/171971
2,NaN,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,04/04/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,08/17/1972,46000,-,-,-,-,-,07/13/1972
3,NaN,1,5,4,56,94,Asheland Ave.,Residential,04/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,05/29/1974
4,NaN,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/09/1974

In [5]:
copy.drop(['Transcriber'], axis=1, inplace=True)

In [6]:
copy.head()

,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,06/06/1969
1,1,3,4,56,202-208,Hillard Ave.,Commercial,08/01/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,07/16/1971,21600,-,-,-,-,-,06/171971
2,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,04/04/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir,...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,08/17/1972,46000,-,-,-,-,-,07/13/1972
3,1,5,4,56,94,Asheland Ave.,Residential,04/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,05/29/1974
4,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/09/1974

In [7]:
copy=copy[copy['Block #'].str.contains("Spring")==False]

In [8]:
parcels=df[['Block #', 'Parcel #','Ward #','Land use']]

In [9]:
parcels=parcels[parcels['Block #'].str.contains("Spring")==False]

In [10]:
parcels=parcels[parcels['Block #'].str.contains("  ")==False]

In [11]:
parcels['Block #'].dtypes

dtype('O')

In [12]:
parcels.insert(0, 'Parcel_ID', range(0,0+len(parcels)))

In [13]:
parcels.head()

   Parcel_ID Block # Parcel # Ward #     Land use
0          0       1        2      4   Commercial
1          1       1        3      4   Commercial
2          2       1        4      4   Commercial
3          3       1        5      4  Residential
4          4       1        6      4   Commercial

In [14]:
parcels.to_csv('Parcels.csv')

In [15]:
parcels. shape

(542, 5)

In [16]:
parcel_id=parcels[['Parcel_ID']]

In [17]:
addresses= copy[['Street number', 'Street address']]

In [18]:
addresses=addresses.join(parcels[['Parcel_ID']])

In [19]:
addresses.head()

           Street number               Street address  Parcel_ID
0  198\n198 1/2\n198-200                 Hillard Ave.          0
1                202-208                 Hillard Ave.          1
2                90\n196  Asheland Ave.\nHillard Ave.          2
3                     94                Asheland Ave.          3
4                     98                Asheland Ave.          4

In [24]:
addresses.shape

(542, 3)

In [25]:
addresses.head()

           Street number               Street address  Parcel_ID
0  198\n198 1/2\n198-200                 Hillard Ave.          0
1                202-208                 Hillard Ave.          1
2                90\n196  Asheland Ave.\nHillard Ave.          2
3                     94                Asheland Ave.          3
4                     98                Asheland Ave.          4

In [26]:
test= splitRow(addresses)
test
##s = test[test['Street address'] == 'Hillard Ave.']
##x = addresses[addresses['Street address'] == 'Hillard Ave.']
##print(x)

NameError: name 'splitRow' is not defined

In [27]:
test.insert(0,'ID',range(0,0+len(test)))

NameError: name 'test' is not defined

In [28]:
test.head()

NameError: name 'test' is not defined

In [29]:
test.to_csv('addresses.csv')

NameError: name 'test' is not defined

In [30]:
def splitRow(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Street number']):
            data = row['Street number'].split('\n')
            for d in data:
                newrow = row
                newrow['Street number'] = d
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [31]:
test.t

NameError: name 'test' is not defined

In [32]:
people=copy[['Previous Transfer of deed People Involved','Decision People Involved']]

In [33]:
def splitRowTransfer(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Previous Transfer of deed People Involved']):
            data = row['Previous Transfer of deed People Involved'].split('\n')
            for d in data:
                newrow = row
                newrow['Previous Transfer of deed People Involved'] = d
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [34]:
transfer=splitRowTransfer(people)

In [35]:
transfer.drop('Decision People Involved', axis=1, inplace=True)

In [36]:
transfer['Previous Transfer of deed People Involved'].replace('', np.nan, inplace=True)

In [37]:
transfer.dropna(inplace=True)

In [38]:
transfer

     Previous Transfer of deed People Involved
0                        Bessie S. Kalogerakis
2                        Amelia K. Kalogerakis
3                            Eva K. Cleraderas
4                            Steve Kalogerakis
5                                W.S. Harrison
6                           Beulah L. Harrison
8               Charles R. Stinnette Co., Inc.
9                          Charles G. Lee, Sr.
11                         Charles G. Lee, Jr.
12                               H. Keneth Lee
13                            John E. Smathers
14                            Etta C. Smathers
16                     Thelma Smathers Johnson
17                              C.A. Yarbrough
18                           Sarah M Yarbrough
20      Harry's Cadillac-Pontiac Company, Inc.
21                                Z. K. Morgan
22                           Shirley P. Morgan
23                               J. D. Medling
24                            Leila P. Medling
26                               Max E. Wilson
27                             Flora J. Wilson
28                                Z. K. Morgan
29                           Shirley P. Morgan
30                               J. D. Medling
31                            Leila P. Medling
33                 Grayson Huntzberger Fleming
34                        Peggy Evelyn Fleming
35                                 K. F. Wentz
36                             Tennie D. Clark
...                                        ...
2290                        Louise Cliff Crews
2291                 First Union National Bank
2292                            D. B. McKenzie
2294                   J.G. Stike-leather, Jr.
2295                     Dorothy Stike-leather
2297                             Max E. Wilson
2298                             H. E. Garrett
2300                           Charles G. Buck
2301                           Nell P. Garrett
2302                          Estelle B. Smith
2304                             Fred Barnette
2305                    Marguerita W. Thompson
2307                               W.T. Conley
2308                           Mary Lou Conley
2309                                E Zaph Ray
2310                                 Mary Carr
2312                         August J Erickson
2313                           Mary L Erickson
2314                    Claude Marion Creasman
2316                             Myrdirth Owen
2317                    Claude Marion Creasman
2319                             Myrdirth Owen
2320                    Claude Marion Creasman
2322                             Myrdirth Owen
2323                    Sandra Olivia Nicholas
2325                      Zipporah L. Nicholas
2326                    Sandra Olivia Nicholas
2328                      Zipporah L. Nicholas
2329                    Sandra Olivia Nicholas
2331                      Zipporah L. Nicholas

[1749 rows x 1 columns]

In [39]:
people=copy[['Previous Transfer of deed People Involved','Decision People Involved']]

In [40]:
def splitRowDecisions(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Decision People Involved']):
            data = row['Decision People Involved'].split('\n')
            for d in data:
                newrow = row
                newrow['Decision People Involved'] = d
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [41]:
decisions= splitRowDecisions(people)

In [42]:
decisions.drop('Previous Transfer of deed People Involved', axis=1, inplace=True)

In [43]:
decisions['Decision People Involved'].replace('', np.nan, inplace=True)

In [44]:
decisions.dropna(inplace=True)

In [45]:
decisions

                    Decision People Involved
1                      Amelia K. Kalogerakis
2                          Eva K. Cleraderas
3                          Steve Kalogerakis
5                                       HACA
6             Charles R. Stinnette Co., Inc.
8                                       HACA
9                             William I. Lee
10                             Zyphin J. Lee
11                            H. Kenneth Lee
12                            Frances W. Lee
14                                      HACA
15                   Thelma Smathers Johnson
16                Elizabeth Pauline Smathers
18                                      HACA
19    Harry's Cadillac-Pontiac Company, Inc.
21                                      HACA
23                             Max E. Wilson
24                           Flora J. Wilson
25                             J. D. Medling
27                                      HACA
28               Grayson Huntzberger Fleming
29                      Peggy Evelyn Fleming
31                                      HACA
32                       Luther Earl McCurry
33                         Maxine S. McCurry
35                                      HACA
36                         William J. Reeves
37                         Mildred P. Reeves
39                                      HACA
40                      Millco, Incorporated
...                                      ...
1807                          Perle T. Cliff
1808                         Horace A. Cliff
1809                   Lora Lee Morris Cliff
1810                        Charles J. Cliff
1811                       Betty Young Cliff
1812                     Louise Cliff Cruise
1813                            R. R. Cruise
1814                 Ruth Mary Cliff Helfand
1815                           W. T. Helfand
1817                                    HACA
1818                           Max E. Wilson
1819                         Flora J. Wilson
1821                                    HACA
1822                         Charles G. Buck
1823                         Nell P. Garrett
1825                                    HACA
1826                            Fred Barnard
1827                         Roselyn Barnard
1829                                    HACA
1830                                       -
1833                    Myrdirth Owen Howell
1835                                    HACA
1836                    Myrdirth Owen Howell
1838                                    HACA
1839                       Zipporah Nicholas
1841                                    HACA
1842                       Zipporah Nicholas
1844                                    HACA
1845                       Zipporah Nicholas
1847                                    HACA

[1298 rows x 1 columns]

In [46]:
def combined(df1,df2):
    newdf=pd.DataFrame(columns=['People'])
    size=0
    for i in range(len(df1)):
        row=df1.iloc[i]
        data = row['Previous Transfer of deed People Involved']
        newdf.loc[size]=data
        size+=1
    for y in range(len(df2)):
        row=df2.iloc[y]
        data = row['Decision People Involved']
        newdf.loc[size]=data
        size+=1
    return newdf

In [47]:
allPeople=combined(transfer,decisions)

In [48]:
allPeople=allPeople.drop_duplicates(subset='People', keep="first")

In [49]:
allPeople

                                                 People
0                                 Bessie S. Kalogerakis
1                                 Amelia K. Kalogerakis
2                                     Eva K. Cleraderas
3                                     Steve Kalogerakis
4                                         W.S. Harrison
5                                    Beulah L. Harrison
6                        Charles R. Stinnette Co., Inc.
7                                   Charles G. Lee, Sr.
8                                   Charles G. Lee, Jr.
9                                         H. Keneth Lee
10                                     John E. Smathers
11                                     Etta C. Smathers
12                              Thelma Smathers Johnson
13                                       C.A. Yarbrough
14                                    Sarah M Yarbrough
15               Harry's Cadillac-Pontiac Company, Inc.
16                                         Z. K. Morgan
17                                    Shirley P. Morgan
18                                        J. D. Medling
19                                     Leila P. Medling
20                                        Max E. Wilson
21                                      Flora J. Wilson
26                          Grayson Huntzberger Fleming
27                                 Peggy Evelyn Fleming
28                                          K. F. Wentz
29                                      Tennie D. Clark
30                                         Herman Clark
31                                       Marie M. Clark
32                                           Paul Clark
33                                        Minnie Clark
...                                                 ...
2952                        Thomas J. Parks (unmarried)
2961                              P. Greer Johnson Jr.
2964                                    Ruth G. Wilson
2966                                      David K. Hall
2979                                       R. W. Willis
2988                                      Fred Pearlman
2989                                   Anne M. Pearlman
2991                                 Roxie Holden Queen
2992                                        Gleen Queen
2999                                      VIrginia York
3004  Fire Baptized Holiness Church of God of the Am...
3005         Adam Caldwell, Fannie Gardenhight, et. al.
3007                       Adeline Cole (formerly Cole)
3010  Redevelopment Commission of the City of Asheville
3012                                  Patricia Ann King
3015                                        W.K. Morris
3016                                      Jack B. Cliff
3017                                     Perle T. Cliff
3018                                    Horace A. Cliff
3019                              Lora Lee Morris Cliff
3020                                   Charles J. Cliff
3021                                  Betty Young Cliff
3022                                Louise Cliff Cruise
3023                                       R. R. Cruise
3024                            Ruth Mary Cliff Helfand
3025                                      W. T. Helfand
3033                                       Fred Barnard
3034                                    Roselyn Barnard
3037                               Myrdirth Owen Howell
3041                                  Zipporah Nicholas

[1792 rows x 1 columns]

In [50]:
allPeople.insert(0, 'Person_ID', range(0,0+len(allPeople)))

In [51]:
allPeople.to_csv('People.csv')

In [52]:
copy.head()

,Block #,Parcel #,Ward #,Box #,Street number,Street address,Land use,Previous Transfer of deed Event Date,Previous Transfer of deed People Involved,Previous Transfer of deed Role,...,Decision People Involved,Decision Role,Award Date,Award Amount Money,Tenant Vacated Date,Tenant Agreement Date,Tenant Cost,Tenant Name,Previous owner or Tenant,End of Case Finalized Date
0,1,2,4,56,198\n198 1/2\n198-200,Hillard Ave.,Commercial,-,Bessie S. Kalogerakis\n\nAmelia K. Kalogerakis...,Owner\n\n\n\nHeir,...,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,06/06/1969
1,1,3,4,56,202-208,Hillard Ave.,Commercial,08/01/1967,W.S. Harrison\nBeulah L. Harrison\n\nCharles R...,Owner\n\n\nPurchaser,...,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser,07/16/1971,21600,-,-,-,-,-,06/171971
2,1,4,4,56,90\n196,Asheland Ave.\nHillard Ave.,Commercial,04/04/1940,"Charles G. Lee, Sr.\n\nCharles G. Lee, Jr.\nH....",Owner\n\n\nHeir,...,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser,08/17/1972,46000,-,-,-,-,-,07/13/1972
3,1,5,4,56,94,Asheland Ave.,Residential,04/28/1934,John E. Smathers\nEtta C. Smathers\n\nThelma S...,Owner\n\n\nHeir,...,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser,-,-,-,-,-,-,-,05/29/1974
4,1,6,4,56,98,Asheland Ave.,Commercial,12/24/1964,C.A. Yarbrough\nSarah M Yarbrough\n\nHarry's C...,Owner\n\nPurchaser,...,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser,-,-,-,-,-,-,-,10/09/1974

In [53]:
allPeople=allPeople.apply(lambda x: x.astype(str).str.lower())

In [54]:
allPeople.head()

  Person_ID                 People
0         0  bessie s. kalogerakis
1         1  amelia k. kalogerakis
2         2      eva k. cleraderas
3         3      steve kalogerakis
4         4          w.s. harrison

In [55]:
allPeople=allPeople.drop_duplicates(subset='People', keep="first")

In [56]:
allPeople.shape

(1787, 2)

In [57]:
allPeople.drop('Person_ID', axis=1, inplace=True)

In [58]:
allPeople.insert(0, 'Person_ID', range(0,0+len(allPeople)))

In [59]:
allPeople.head()

   Person_ID                 People
0          0  bessie s. kalogerakis
1          1  amelia k. kalogerakis
2          2      eva k. cleraderas
3          3      steve kalogerakis
4          4          w.s. harrison

In [60]:
allPeople.to_csv('People.csv')

In [162]:
event_assoc=copy[['Decision People Involved','Decision Role']]

In [163]:
event_assoc

,Decision People Involved,Decision Role
0,\nAmelia K. Kalogerakis\nEva K. Cleraderas\nSt...,Owner\n\n\nPurchaser
1,"Charles R. Stinnette Co., Inc.\n\nHACA",Owner\n\nPurchaser
2,William I. Lee\nZyphin J. Lee\nH. Kenneth Lee\...,Owner\n\n\n\nPurchaser
3,Thelma Smathers Johnson\nElizabeth Pauline Sma...,Owner\n\n\nPurchaser
4,"Harry's Cadillac-Pontiac Company, Inc.\n\nHACA\n",Owner\n\nPurchaser
5,Max E. Wilson\nFlora J. Wilson\nJ. D. Medling\...,Owner\n\n\n\nPurchaser
6,Grayson Huntzberger Fleming\nPeggy Evelyn Flem...,Owner\n\n\nPurchaser
7,Luther Earl McCurry\nMaxine S. McCurry\n\nHACA,Owner\n\n\nPurchaser
8,William J. Reeves\nMildred P. Reeves\n\nHACA,Owner\n\n\nPurchaser
9,"Millco, Incorporated\nM. O. Causey\n\nHACA",Owner\n\n\nPurchaser
10,J. A. Reyes\n\nHACA,Owner\n\nPurchaser
11,Charles McGowan\n\nHACA,Owner\n\nPurchaser
12,Charles McGowan\n\nHACA,Owner\n\nPurchaser
13,John F. Shuford\nWachovia Bank and Trust Compa...,Owner\nTrustee\n\nPurchaser
14,Rudolph Gay\n\nHACA,Owner\n\nPurchaser
15,Raymond McCorkle\nMarie McCorkle\n\nHACA,Heirs\n\nPurchaser
16,Ada Barnard\n\nHACA,Owner\n\nPurchaser
17,Herman Fleming\n\nHACA,Owner \n\nPurchaser
18,Genuine Parts Company\n\nHACA,Owner \n\nPurchaser
19,Mildred L. Messer\n\nHACA,Owner \n\nPurchaser
20,Thomas F. Ruth\nAnne McConnel Ruth\n\nHACA,Owner \n\nPurchaser
21,Ruben J. Dailey\n(Administrator of the Estate ...,Trustee\n\n\n\nPurchaser
22,Josephine Beam\nAlfred Beam\n\nHACA,Owner \n\nPurchaser
23,Cora J. Shuford\n\nHACA,Owner \n\nPurchaser
24,NaN,NaN
25,NaN,NaN
26,NaN,NaN
27,Maizei Clark Williams\n\nHACA,Owner\n\nPurchaser
28,Mazie Williams\n\nHACA,Owner\n\nPurchaser\n
29,Etta Lynch\nPauline P. Hood\n\nHACA\n,Heirs\n\nPurchaser
...,...,...
525,-,-
526,-,-
527,-,-
528,Fred Pearlman\nAnne M. Pearlman\n\nHACA,Owner\n\n\nPurchaser
529,Roxie Holden Queen\nGleen Queen\n\nHACA,Owner\n\n\nPurchaser
530,NaN,NaN
531,NaN,NaN
532,Marshall Logan\nGladys Logan\n\nHACA,Owner\n\n\nPurchaser
533,Lessie K. Angel\n\nHACA,Owner\n\nPurchaser
534,VIrginia York\n\nHACA,Owner\n\nPurchaser
535,Henry Maddox\nManor Lee Maddox\n\nHACA,Owner\n\nPurchaser
536,Fire Baptized Holiness Church of God of the Am...,Owner\n\nPurchaser
537,NaN,NaN
538,NaN,NaN
539,Adeline Cole (formerly Cole)\n\nHACA,Owner\n\n\nPurchaser
540,Katherine Gardner\n\nRedevelopment Commission ...,Owner\n\nPurchaser
541,NaN,NaN
542,James Edward King\nPatricia Ann King\n\nRedeve...,Owner\n\nPurchaser
543,Julia Cliff Morris\nW.K. Morris\nJack B. Cliff...,Owner\n\nPurchaser
544,Max E. Wilson\nFlora J. Wilson\n\nHACA,Owner\n\nPurchaser
545,Charles G. Buck\nNell P. Garrett\n\nHACA,Trustee\n\nPurchaser
546,Fred Barnard\nRoselyn Barnard\n\nHACA,Owner\n\nPurchaser
547,-,-
549,NaN,NaN
550,NaN,NaN
551,Myrdirth Owen Howell\n\nHACA,owner\n\npurchaser
552,Myrdirth Owen Howell\n\nHACA,Owner\n\npurchaser
553,Zipporah Nicholas\n\nHACA,owner\n\npurchaser
554,Zipporah Nicholas\n\nHACA,owner\n\npurchaser
555,Zipporah Nicholas\n\nHACA,owner\n\npurchaser

In [164]:
def splitRowEvents(table):
    newframe=pd.DataFrame(columns=table.columns.values)
    size=0
    for i in range(len(table)):
        row = table.iloc[i]
        if '\n' in str(row['Decision People Involved']):
            data = row['Decision People Involved'].split('\n')
            norm='Owner'
            norm_prev='Owner'
            norm2='Purchaser'
            for d in range(len(data)):
                newrow = row
                newrow['Decision People Involved'] = data[d]
                if data[d]!='':
                    newrow['Decision Role']=norm_prev
                if data[d]=='':
                    if norm_prev==norm:
                        norm_prev=norm2
                    else:
                        norm_prev=norm
                        
        
                newframe.loc[size]=newrow
                size+=1
        else:
            newframe.loc[size]=row
            size+=1
    return newframe

In [165]:
t=splitRowEvents(event_assoc)

In [166]:
t

                    Decision People Involved         Decision Role
0                                             Owner\n\n\nPurchaser
1                      Amelia K. Kalogerakis             Purchaser
2                          Eva K. Cleraderas             Purchaser
3                          Steve Kalogerakis             Purchaser
4                                                        Purchaser
5                                       HACA                 Owner
6             Charles R. Stinnette Co., Inc.                 Owner
7                                                            Owner
8                                       HACA             Purchaser
9                             William I. Lee                 Owner
10                             Zyphin J. Lee                 Owner
11                            H. Kenneth Lee                 Owner
12                            Frances W. Lee                 Owner
13                                                           Owner
14                                      HACA             Purchaser
15                   Thelma Smathers Johnson                 Owner
16                Elizabeth Pauline Smathers                 Owner
17                                                           Owner
18                                      HACA             Purchaser
19    Harry's Cadillac-Pontiac Company, Inc.                 Owner
20                                                           Owner
21                                      HACA             Purchaser
22                                                       Purchaser
23                             Max E. Wilson                 Owner
24                           Flora J. Wilson                 Owner
25                             J. D. Medling                 Owner
26                                                           Owner
27                                      HACA             Purchaser
28               Grayson Huntzberger Fleming                 Owner
29                      Peggy Evelyn Fleming                 Owner
...                                      ...                   ...
1818                           Max E. Wilson                 Owner
1819                         Flora J. Wilson                 Owner
1820                                                         Owner
1821                                    HACA             Purchaser
1822                         Charles G. Buck                 Owner
1823                         Nell P. Garrett                 Owner
1824                                                         Owner
1825                                    HACA             Purchaser
1826                            Fred Barnard                 Owner
1827                         Roselyn Barnard                 Owner
1828                                                         Owner
1829                                    HACA             Purchaser
1830                                       -                     -
1831                                     NaN                   NaN
1832                                     NaN                   NaN
1833                    Myrdirth Owen Howell                 Owner
1834                                                         Owner
1835                                    HACA             Purchaser
1836                    Myrdirth Owen Howell                 Owner
1837                                                         Owner
1838                                    HACA             Purchaser
1839                       Zipporah Nicholas                 Owner
1840                                                         Owner
1841                                    HACA             Purchaser
1842                       Zipporah Nicholas                 Owner
1843                                                         Owner
1844                                    HACA             Purchaser
1845                       Zipporah Nicholas                 Owner
1846                                                         Owner
1847                                    HACA             Purchaser

[1848 rows x 2 columns]

In [167]:
t['Decision People Involved'].replace('', np.nan, inplace=True)
t

                    Decision People Involved         Decision Role
0                                        NaN  Owner\n\n\nPurchaser
1                      Amelia K. Kalogerakis             Purchaser
2                          Eva K. Cleraderas             Purchaser
3                          Steve Kalogerakis             Purchaser
4                                        NaN             Purchaser
5                                       HACA                 Owner
6             Charles R. Stinnette Co., Inc.                 Owner
7                                        NaN                 Owner
8                                       HACA             Purchaser
9                             William I. Lee                 Owner
10                             Zyphin J. Lee                 Owner
11                            H. Kenneth Lee                 Owner
12                            Frances W. Lee                 Owner
13                                       NaN                 Owner
14                                      HACA             Purchaser
15                   Thelma Smathers Johnson                 Owner
16                Elizabeth Pauline Smathers                 Owner
17                                       NaN                 Owner
18                                      HACA             Purchaser
19    Harry's Cadillac-Pontiac Company, Inc.                 Owner
20                                       NaN                 Owner
21                                      HACA             Purchaser
22                                       NaN             Purchaser
23                             Max E. Wilson                 Owner
24                           Flora J. Wilson                 Owner
25                             J. D. Medling                 Owner
26                                       NaN                 Owner
27                                      HACA             Purchaser
28               Grayson Huntzberger Fleming                 Owner
29                      Peggy Evelyn Fleming                 Owner
...                                      ...                   ...
1818                           Max E. Wilson                 Owner
1819                         Flora J. Wilson                 Owner
1820                                     NaN                 Owner
1821                                    HACA             Purchaser
1822                         Charles G. Buck                 Owner
1823                         Nell P. Garrett                 Owner
1824                                     NaN                 Owner
1825                                    HACA             Purchaser
1826                            Fred Barnard                 Owner
1827                         Roselyn Barnard                 Owner
1828                                     NaN                 Owner
1829                                    HACA             Purchaser
1830                                       -                     -
1831                                     NaN                   NaN
1832                                     NaN                   NaN
1833                    Myrdirth Owen Howell                 Owner
1834                                     NaN                 Owner
1835                                    HACA             Purchaser
1836                    Myrdirth Owen Howell                 Owner
1837                                     NaN                 Owner
1838                                    HACA             Purchaser
1839                       Zipporah Nicholas                 Owner
1840                                     NaN                 Owner
1841                                    HACA             Purchaser
1842                       Zipporah Nicholas                 Owner
1843                                     NaN                 Owner
1844                                    HACA             Purchaser
1845                       Zipporah Nicholas                 Owner
1846                                     NaN                 Owner
1847                                    HACA             Purchaser

[1848 rows x 2 columns]

In [169]:
t.dropna(inplace=True)

In [169]:
t.merge

In [169]:
allPeople.insert(0, 'Event_ID', range(0,0+len(allPeople)))

In [171]:
t.to_csv('Event_People_Association.csv')